.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
# !gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
*.jar
*.bat
HELP.md
.idea/uiDesigner.xml
.idea/compiler.xml
.gitsecret/keys/random_seed
!*.secret
src/main/resources/apple/AuthKey_54D9T8FD9F.p8
src/main/resources/firebase/chalkak_service_key.json
src/main/resources/application.yml
src/main/resources/application-oauth.yml
src/main/resources/aws.yml
